body , header , h1, h2 , p  , section {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background-color: #f0f8ff;
    font-family: Verdana, sans-serif;
}

header {
    background-color: #006994;
   color : #ffff;
   text-align: center;
}

section {
    max-width: 850px;
    margin: 25px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

h1 , h2{
    color: #003366;
}

p{
    font-size: 17px;
    line-height :large 1.6;
    margin-bottom :  1
    5px;
}

u1{
    list-style: circle;
    margin-left: 25px;
}
